*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Baloo 2', cursive;
  
}

.world {
  overflow: hidden;
  position: relative;
  background-image: url('imgs/greyMountain.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  /* Optional: Add a background color */
  background-color: #f0f0f0;
}

.score {
  position: absolute;
  font-size: 3vmin;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 2;
  color: black;
  font-family: 'Baloo 2', cursive; /* Apply Baloo 2 font */
}

.start-screen {
  position: absolute;
  font-size: 3vmin;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: black;
  font-family: 'Baloo 2', cursive; /* Apply Baloo 2 font */
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.skater {
  --bottom: 0;
  position: absolute;
  left: 10%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 20%;
  bottom: 0;
}